<div class="flex-1 p-8">
  <div class="mb-8">
    <div class="relative">
      <input
        type="text"
        placeholder="Search"
        class="w-full max-w-md pl-10 pr-4 py-2 border rounded-md"
        [formControl]="searchValue"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="absolute left-3 top-2.5 h-5 w-5 text-gray-400"
      >
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          strokeWidth="{2}"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
      </svg>
    </div>
  </div>

  <h2 class="text-3xl font-bold mb-8">Notes</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div *ngFor="let note of notes" class="p-6 bg-gray-100 rounded-lg shadow">
      <a routerLink="/note/{{ note._id }}" class="font-medium mb-2"
        >{{ note.title }}</a
      >
      <p
        class="text-sm text-gray-600 mb-4"
        [innerHTML]="note.content | slice:0:100"
      >
        {{ note.content | slice:0:100 }}
      </p>
      <div class="flex justify-end gap-3">
        <button
          class="p-1 focus:outline-none hover:bg-gray-200 rounded-full"
          routerLink="/note/{{ note._id }}/edit"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="h-6 w-6 text-gray-400"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              strokeWidth="{2}"
              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
            />
          </svg>
        </button>
        <button
          class="p-1 focus:outline-none hover:bg-gray-200 rounded-full"
          (click)="deleteNote(note._id)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="h-6 w-6 text-gray-400"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              strokeWidth="{2}"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<router-outlet />
